[Desktop Entry]
Name=Yadfa
Comment=Yet Another Diaperfur Adventure
Exec=yadfa
Type=Application
Icon=net.pouar.yadfa
Categories=Game;AdventureGame;RolePlaying;
Keywords=yadfa;
